@font-face {
    font-family: 'ComicoroRU'; /* Выберите имя шрифта */
    src: url('fonts/ComicoroRu_0.ttf') format('truetype');
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #74a681;
    font-family: 'ComicoroRU', cursive;
    position: relative; /* Добавлен position: relative для body */
}

#game-container {
    display: flex;
    align-items: center;
    position: relative; /* Для позиционирования элементов внутри */
}

#logo {
    position: absolute;
    top:-240px; /* Отступ сверху */
    left: 50%; /* Центрирование по горизонтали */
    transform: translateX(-50%); /* Корректировка положения */
}

#logo img {
    width: 400px; /* Ширина изображения */
    height: auto; /* Высота изображения автоматически подбирается */
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 50px; /* Отступ сверху */
}

button {
    background-color: #74a681;
    color: #000000;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 40px;
    cursor: pointer;
    font-family: 'ComicoroRU', cursive;
}

button:hover {
    background-color: #555;
}

#game {
    position: absolute;
    height: 620px; /* Изменена высота для соответствия игре */
    width: 1140px;
    background-color: #74a681;
    border: 2px solid #000000;
    display: none;
    margin-top: 10px;
    left: 100px;
    transform: translateX(-50%);
}

/* Границы для появления и движения врагов */
.enemy-spawn-area {
    position: absolute;
    top: 20px;
    right: 0;
    height: 560px;
    width: 2px;
    background-color: white;
}

.enemy-end-area {
    position: absolute;
    left: 0;
    top: 20px;
    height: 560px;
    width: 2px;
    background-color: white;
}

#score-container {
    width: 300px;
    position: absolute;
    top: -350px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    display: flex;
    align-items: center;
    gap: 500px;
}

#score {
    font-size: 50px;
    color: black;
}

#scores-section {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #74a681;
    padding: 20px;
    border-radius: 5px;
    z-index: 2;
    text-align: center;
    width: 400px;
}
#scores-section h2 {
    font-size: 3em;
    margin-bottom: 30px;
}

#scores-section .score-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding: 10px 20px;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

#scores-section p {
    font-size: 2em;
    margin: 0;
    padding: 0;
}

#scores-section .score-row > * {
    margin: 0;
    padding: 0;
}

#max-score-comment {
    position: absolute;
    font-size: 2em;
    top: 238px;
    right: -195px;
    transform: translateY(-50%);
}


@keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.05); }
    100% { transform: scale(1); }
}

#game-objective {
    animation: pulse 3s infinite;
    font-size: 50px;
    color: black;
}

#earth {
    position: absolute;
    left: -1100px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 0;
    display: none;
}

#earth img {
    width: 600px;
    height: auto;
}

#scores-table {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #74a681;
    padding: 20px;
    border-radius: 5px;
    z-index: 2;
}
#submit-score-form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#form-content {
    text-align: center;
}
#backButton {
    margin-top: 20px;
}
button:hover {
    background-color: #555; /* Изменяем цвет фона при наведении */
    box-shadow: 0 0 10px #000; /* Добавляем тень при наведении */
    transition: background-color 0.3s ease, box-shadow 0.3s ease; /* Добавляем плавный переход */
}
button:active {
    transform: scale(0.95);
}
#score-container h2 + p {
    margin-top: 10px;
}

#game-over-screen h2 {
    font-size: 50px;
    color: black;
}

#game-over-screen p {
    font-size: 30px;
    color: black;
}

#game-over-screen #final-score {
    font-size: 40px;
}